*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.example {
  width: 90%;
  margin: 5em auto;
  padding: 10em 0;
  background-color: steelblue;
}

/* 
Mobile first, the default style is mobile
And for bigger screen you overrride 
the style as needed (the specified properties)
*/

/* The order is relevant */

/* 600px or bigger */
@media (min-width: 600px) {
  .example {
    background-color: olivedrab;
  }
}
@media (min-width: 800px) {
  .example {
    background-color: orangered;
  }
}
/* Desktop first */
/* 600px or smaller */
@media (max-width: 600px) {
  .example {
    background-color: red;
  }
}
/* Between 600px and 900px */
@media (min-width: 600px) and (max-width: 900) {
}
