* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.parent {
  background-color: #23424a;
  padding: 50px;

  /* width: 800px; */
  width: 80%;
  margin: 0 auto;

  padding: 5em; /*5 x 16 = 80pc */
}

.child {
  background-color: #38cfd9;

  /* height: 250px; */
  /* Not use height use padding, avoid overflow of the content */
  width: 50%;
  padding: 1em;
}

.container {
  background: #23424a;
  color: #23424a;
  border: 2px solid #23424a;
  /* border-radius: 2%; */

  width: 80%;
  /* max-width: 890px; */
  margin: 0 auto;

  padding: 5em;
  /* height: 300px; */
}

.intro-content {
  background: white;
  padding: 2em;
  width: 50%;
}

.container-02 {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.intro {
  background: #23424a;
  color: white;
  padding: 50px 0;
}

.intro-content-02 {
  width: 50%;
}

/* Challange 03 */

.hero {
  background: #23424a;
  color: #fff;
  padding: 100px 0;
}

.container-03 {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.hero__text {
  width: 60%;
}

.hero p {
  margin-bottom: 2em;
}

.header-03 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  padding-bottom: 1em;
}

.cta-03 {
  display: inline-block;
  background: #38cfd9;
  color: #23424a;
  padding: 0.5em 1em;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}

.cta-03:hover,
.cta-03:focus {
  opacity: 0.75;
}
