/* Coolors Exported Palette - https://coolors.co/91976b-ffffff-4b4e6d-84dcc6-95a3b3 */

/* CSS */
--color1: hsla(68%, 29%, 59%, 1);
--color2: hsla(0%, 0%, 100%, 1);
--color3: hsla(235%, 31%, 43%, 1);
--color4: hsla(165%, 40%, 86%, 1);
--color5: hsla(212%, 17%, 70%, 1);

/* HEX */
$color1: #91976bff;
$color2: #ffffffff;
$color3: #4b4e6dff;
$color4: #84dcc6ff;
$color5: #95a3b3ff;

/* HSL */
$color1: hsla(68%, 29%, 59%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(235%, 31%, 43%, 1);
$color4: hsla(165%, 40%, 86%, 1);
$color5: hsla(212%, 17%, 70%, 1);

/* RGB */
$color1: rgba(145, 151, 107, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(75, 78, 109, 1);
$color4: rgba(132, 220, 198, 1);
$color5: rgba(149, 163, 179, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-right: linear-gradient(90deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-bottom: linear-gradient(180deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-left: linear-gradient(270deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-top-right: linear-gradient(45deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-bottom-right: linear-gradient(135deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-top-left: linear-gradient(225deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-bottom-left: linear-gradient(315deg, #91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);
$gradient-radial: radial-gradient(#91976bff, #ffffffff, #4b4e6dff, #84dcc6ff, #95a3b3ff);